header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cajasDeTexto {
    display: flex;
    justify-content: space-around;

}
.output-boton{
display: flex;
flex-direction: column;
justify-content: space-between;

}


@media (max-width: 800px){
    

    .cajasDeTexto{
        display: flex;
        flex-direction: column;
    }
    .botones{
        display: flex;
    }
    .rodapie-container{
        display: flex;
        font-size: x-small;
        
    }


   


}
    
