header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cajasDeTexto {
    display: flex;
    justify-content: space-around;

}
.output-boton{
display: flex;
flex-direction: column;
justify-content: space-between;

}


@media (max-width: 700px){

    .cajasDeTexto{
        display: flex;
        flex-direction: column;
    }
    .input {
        height: 200px;
        width: 100%;
    }
    .output {
        height: 588px;
        width: 100%;
    }


}
    
