

body{
    background-image: url("Screenshot_20230512-122739~2.png");
    background-repeat: repeat;
    }
   
.output-boton{
        display: flex;
        flex-direction: column;
    }
.cajasDeTexto__inputybotones{
        display: flex;
        flex-direction: column;
        margin-top: 3.5rem;
        width: 300px;
    }
.cajasDeTexto{
        display: flex;
        justify-content: space-evenly;
    }
 

    

.cajasDeTexto__input{
    
    
    color: black;      
    border: none;
    border-radius: 10px;
    font-size: 2em;
    font-style: italic;

}

.output {
    background-image: url(Screenshot_20230511-210345-646.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: none;
    font-size: 2em;
    font-style: italic;
    margin-top: 4.8rem;
}

.encriptar {
    width: 180px;
    height: 45px;
    color:white;
    background-color: red;
    border-radius: 10px;
    font-size: xx-large;
}
.desencriptar {
    width: fit-content;
    height: 45px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    font-size: xx-large;
}
.copiar{
    width: 180px;
    height: 45px;
    color:white;
    background-color: red;
    border-radius: 10px;
    font-size: xx-large;
    margin-top: 29px;
}

.rodapie-container{

    font-family: 'Pangolin', cursive;
    border-radius: 10px;
    background: linear-gradient(rgb(202, 4, 4),rgb(122, 4, 4));
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    align-items: center;
    margin-right: 0;
}
.rodapie{
    
    height: 0.2rem;
    display: flex;
    align-items: center;

}
@media screen and (max-width:768px){
    .output {
        height: 40rem;
        background-image: url(Screenshot_20230511-210345-646.png);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        border: none;
        font-size: 2em;
        font-style: italic;
        margin-top: 4.8rem;
        
    }
    .cajasDeTexto__inputybotones{
        display: flex;
        flex-direction: column;
        margin-top: 3.5rem;
        height: 26rem;
        width: 100vw
        
    }
    .cajasDeTexto{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }


    .cajasDeTexto__input{
        
        height: 20rem;
        color: black;      
        border: none;
        border-radius: 10px;
        font-size: 2em;
        font-style: italic;

    }
}
  