body{
    background-image: url("Screenshot_20230512-122739~2.png");
    }
.logo{
    width: 100px;
    border-radius: 10px;
}

.alura {
    width: auto
}
header{
    margin-bottom: 10px;
    font-family: 'Pangolin', cursive;
    border-radius: 10px;
    background:linear-gradient(rgb(202, 4, 4),rgb(122, 4, 4))
}

.encabezado {
    text-align: center;
}
/*aqui inicia css de areas de funciones */




.input{
    background-image: url(Screenshot_20230512-122939-355.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    font-size: 2em;
    font-style: italic;

}
.output {
    background-image: url(Screenshot_20230511-210345-646.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: none;
    font-size: 2em;
    font-style: italic;
}

.encriptar {
    width: 180px;
    height: 45px;
    color:white;
    background-color: red;
    border-radius: 10px;
    font-size: xx-large;
}
.desencriptar {
    width: fit-content;
    height: 45px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    font-size: xx-large;
}
.copiar{
    width: 180px;
    height: 45px;
    color:white;
    background-color: red;
    border-radius: 10px;
    font-size: xx-large;
}


footer{
    border-color: black;
    border: black;
    border: 3px;
    background:linear-gradient(rgb(202, 4, 4),rgb(122, 4, 4));
    height: 50px;
    border-radius: 10px;
    
}
.rodapie{
    text-align: center;
    width: fit-content;
    position: absolute;
    left: 35%;
    font-size: 18px;
}